<p id="notice"><%= notice %></p>

<h1>Listing Planningboards</h1>

<table>
  <thead>
    <tr>
      <th>Goal1</th>
      <th>Goal2</th>
      <th>Goal3</th>
      <th>Goal4</th>
      <th>Goal5</th>
      <th>Url1</th>
      <th>Url2</th>
      <th>Url3</th>
      <th>Url4</th>
      <th>Url5</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planningboards.each do |planningboard| %>
      <tr>
        <td><%= planningboard.goal1 %></td>
        <td><%= planningboard.goal2 %></td>
        <td><%= planningboard.goal3 %></td>
        <td><%= planningboard.goal4 %></td>
        <td><%= planningboard.goal5 %></td>
        <td><%= planningboard.url1 %></td>
        <td><%= planningboard.url2 %></td>
        <td><%= planningboard.url3 %></td>
        <td><%= planningboard.url4 %></td>
        <td><%= planningboard.url5 %></td>

        <td><%= planningboard.name %></td>
        <td><%= link_to 'Show', planningboard %></td>
        <td><%= link_to 'Edit', edit_planningboard_path(planningboard) %></td>
        <td><%= link_to 'Destroy', planningboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planningboard', new_planningboard_path %>
