<p id="notice"><%= notice %></p>

<div class="container">

  <p>
    <h1><%= @planningboard.name %></h1>
  </p>
  <p>
    <%= link_to 'Edit', edit_planningboard_path(@planningboard) %> |
    <%= link_to 'Back', planningboards_path %>
  </p>

  <p>
    <button type="button" name="button" id="show-form">Add a comment</button> <strong>Comments:
      <%= @planningboard.comments.count %></strong>
  </p>

  <div id="comment-form">
      <%= form_for([@planningboard, @planningboard.comments.build]) do |f| %>
        <p>
          <%= f.label :commenter, "Name" %><br>
          <%= f.text_field :commenter %>
        </p>
        <p>
          <%= f.label :body, "Comment" %><br>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit "Submit" %>
        </p>
      <% end %>
  </div>

  <div class="row">

    <div class="col-md-4 show-box">
      <p>
        <h2><%= @planningboard.goal1 %></h2>
      </p>
      <hr>
      <p>
        <%= image_tag @planningboard.url1 %>
      </p>
      <hr>
      <div class="show-description">
        <p>
          <%= @planningboard.description1 %>
        </p>
      </div>
    </div>

    <div class="col-md-4 show-box">
      <p>
        <h2><%= @planningboard.goal2 %></h2>
      </p>
      <hr>
      <p>
        <%= image_tag @planningboard.url2 %>
      </p>
      <hr>
      <div class="show-description">
        <p>
          <%= @planningboard.description2 %>
        </p>
      </div>
    </div>

    <div class="col-md-4 show-box">
      <p>
        <h2><%= @planningboard.goal3 %></h2>
      </p>
      <hr>
      <p>
        <%= image_tag @planningboard.url3 %>
      </p>
      <hr>
      <div class="show-description">
        <p>
          <%= @planningboard.description3 %>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-5 col-md-offset-1 show-box">
      <p>
        <h2><%= @planningboard.goal4 %></h2>
      </p>
      <hr>
      <p>
        <%= image_tag @planningboard.url4 %>
      </p>
      <hr>
      <div class="show-description">
        <p>
          <%= @planningboard.description4 %>
        </p>
      </div>
    </div>

    <div class="col-md-5 show-box">
      <p>
        <h2><%= @planningboard.goal5 %></h2>
      </p>
      <hr>
      <p>
        <%= image_tag @planningboard.url5 %>
      </p>
      <hr>
      <div class="show-description">
        <p>
          <%= @planningboard.description5 %>
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <h2>Comments</h2>
      <% @planningboard.comments.each do |comment| %>
        <p>
          <strong>Name:</strong>
          <%= comment.commenter %>
        </p>

        <p>
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>
      <% end %>

  </div>

</div>
