<p id="notice"><%= notice %></p>

<p>
  <strong>Goal1:</strong>
  <%= @planningboard.goal1 %>
</p>

<p>
  <strong>Goal2:</strong>
  <%= @planningboard.goal2 %>
</p>

<p>
  <strong>Goal3:</strong>
  <%= @planningboard.goal3 %>
</p>

<p>
  <strong>Goal4:</strong>
  <%= @planningboard.goal4 %>
</p>

<p>
  <strong>Goal5:</strong>
  <%= @planningboard.goal5 %>
</p>

<p>
  <strong>Url1:</strong>
  <%= @planningboard.url1 %>
</p>

<p>
  <strong>Url2:</strong>
  <%= @planningboard.url2 %>
</p>

<p>
  <strong>Url3:</strong>
  <%= @planningboard.url3 %>
</p>

<p>
  <strong>Url4:</strong>
  <%= @planningboard.url4 %>
</p>

<p>
  <strong>Url5:</strong>
  <%= @planningboard.url5 %>
</p>

<p>
  <strong>Description1:</strong>
  <%= @planningboard.description1 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @planningboard.name %>
</p>

<%= link_to 'Edit', edit_planningboard_path(@planningboard) %> |
<%= link_to 'Back', planningboards_path %>
