<!DOCTYPE html>
<html>
<head>
  <title>VizionBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="newboard">
    <%= link_to 'New Planningboard', new_planningboard_path %> | <%= link_to "Sign Up", new_user_path %> |
    <%= link_to "Sign In", "login" %>
  </div>
  <div class="flash">
    <% flash.each do |message_type, message| %>
      <div class="<%= message_type %>">
        <%= message  %>
      </div>
    <% end %>
  </div>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
